$gap: 10px;
$mobile-size: 375px;

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .top,
  .bottom {
    margin-top: 30px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    gap: $gap;
  }

  .link {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: $gap;
    border-radius: $gap;
    color: var(--theme-font-color);

    @media (max-width: ($mobile-size * 3)) {
      width: 50px;
      // padding-left: 0;
      transform: translateX(-9px);
    }

    p {
      padding-left: $gap * 1.5;
      white-space: nowrap;
      color: inherit;
      @media (max-width: ($mobile-size * 3)) {
        display: none;
      }
    }
  }
}
