.reply-action {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  height: 25px;

  .like {
    display: flex;
    gap: 8px;

    span {
      margin-top: 2px;
    }
  }

  button {
    height: 20px;
    border: none;
    background: none;
    color: var(--theme-font-light-color);
    cursor: pointer;
    font-size: 12px;

    span {
      &:hover {
        opacity: initial;
        text-decoration: initial;
      }
    }

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}
