html.dark {
  --theme-primary-color: rgb(0, 0, 0);
  --theme-secondary-color: rgb(32, 33, 34);
  --theme-third-color: rgb(50, 50, 50);

  --theme-svg-color: rgb(255, 255, 255);
  --theme-font-color: rgb(255, 255, 255);
  --theme-font-light-color: rgb(225, 223, 223);
  --theme-divider-color: rgb(110, 110, 110);
  --theme-selection-color: rgba(255, 255, 255, 0.25);

  --theme-nav-color: rgb(241, 245, 249);
  --theme-nav-active-color: rgb(32, 33, 34);

  --theme-toolbar-item-hover-color: rgb(74, 74, 74);
  --theme-toolbar-scrollbar-thumb-color: rgb(211, 211, 211);
  --theme-skeleton-color: rgba(255, 255, 255, 0.06);
  --theme-skeleton-animate-color: rgba(0, 0, 0, 0.5);
}

html.light {
  --theme-primary-color: rgb(255, 255, 255);
  --theme-secondary-color: rgb(240, 244, 247);
  --theme-third-color: rgb(229, 231, 235);

  --theme-svg-color: rgb(0, 0, 0);
  --theme-font-color: rgb(0, 0, 0);
  --theme-font-light-color: rgb(45, 46, 47);
  --theme-divider-color: rgb(209, 209, 209);
  --theme-selection-color: rgba(0, 0, 0, 0.25);

  --theme-nav-color: rgb(241, 245, 249);
  --theme-nav-active-color: rgb(240, 244, 247);

  --theme-toolbar-item-hover-color: rgb(222, 222, 222);
  --theme-toolbar-scrollbar-thumb-color: rgb(211, 211, 211);
  --theme-skeleton-color: rgba(0, 0, 0, 0.06);
  --theme-skeleton-animate-color: rgba(255, 255, 255, 0.5);
}
