.editor-container {
  flex: 1;
  min-height: 0;
  margin-top: 10px;
  border-radius: 2px;
  max-width: 700px;
  // min-width: 500px;
  color: var(--theme-font-color);
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;

  .editor-inner {
    background: var(--theme-pale-gray-color);
    position: relative;
    border-radius: 0 0 10px 10px;
    height: calc(100% - 44px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--theme-toolbar-scrollbar-thumb-color);
      border-radius: 4px;
    }

    .editor-input {
      min-height: 150px;
      resize: none;
      font-size: 15px;
      position: relative;
      tab-size: 1;
      outline: 0;
      padding: 15px 10px;
      caret-color: var(--theme-font-color);
    }

    .editor-placeholder {
      color: #999;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      top: 15px;
      left: 10px;
      font-size: 15px;
      user-select: none;
      display: inline-block;
      pointer-events: none;
    }
  }
}
