# compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE - VSCode
.vscode/settings.json

# dotenv environment variable files
.env.production

# next.js
.next/
out/

# typescript
*.tsbuildinfo
next-env.d.ts

# other
desktop.ini
