$gap: 10px;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  border-radius: $gap;
  transition: all 0.2s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;

    svg {
      transition: all 0.2s ease;
      opacity: 0.4;
    }
  }

  .loading {
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
