$gap: 10px;
$mobile-size: 375px;

.home {
  display: flex;
  width: 100%;
  position: relative;

  .main {
    width: 100%;
    // height: calc(100vh - 40px);
    // max-width: 710px;
    max-width: 638px;
  }

  .aside {
    position: sticky;
    top: $gap * 2;
    height: 500px;
    margin-left: $gap * 2;
    // width: 220px;
    width: 292px;
    flex-shrink: 0;
    background-color: var(--theme-secondary-color);

    @media (max-width: ($mobile-size * 2)) {
      display: none;
    }
  }
}
