$gap: 10px;
$mobile-size: 375px;

.home {
  width: 100%;
  position: relative;

  .head {
    position: sticky;
    top: $gap * 2;
    z-index: 1;
    margin-bottom: $gap * 3;
    box-shadow:
      0 -20px 0 var(--theme-primary-color),
      0 20px 0 var(--theme-primary-color);
    display: flex;
    align-items: center;
    gap: $gap;

    .user-control {
      flex-shrink: 0;
      width: 320px;
      display: flex;
      justify-content: end;
    }

    @media (max-width: ($mobile-size * 2 - 22px)) {
      .user-control {
        width: fit-content;
      }
    }

    &::before,
    &::after {
      content: '';
      width: 100%;
      position: absolute;
      z-index: -1;
      left: 0px;
      height: 20px;
      background-color: var(--theme-primary-color);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .main {
    display: grid;
    grid-template-columns: auto 330px;

    .post {
      width: 100%;
      max-width: 620px;
      height: fit-content;
    }

    .comment {
      margin-bottom: 20px;
    }

    .aside {
      position: sticky;
      top: 90px;
      margin-left: $gap * 2;
      width: 310px;
      height: 0;
      z-index: 1;

      @media (max-width: ($mobile-size * 2 - 22px)) {
        height: auto;
        margin-left: 0;
        width: 100%;
      }
    }

    @media (max-width: ($mobile-size * 2 - 22px)) {
      display: flex;
      flex-direction: column;

      .comment {
        margin-top: 20px;
      }
    }
  }
}
